@import 'lib/styles/fonts/fonts.css';
@import 'lib/styles/themes.css';

* {
	box-sizing: border-box;
}

html {
	background: black;
}

body {
	background: rgb(var(--bg));
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: clip;
	color: rgb(var(--color));
	font-family: 'Mukta', 'Nunito Sans', 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	word-wrap: break-word;
	-webkit-tap-highlight-color: transparent;
}

* {
	scrollbar-width: thin;
}

*:focus {
	@apply focus:outline-none;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

.no-select::selection {
	@apply bg-transparent text-transparent;
}

.yes-select {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	-o-user-select: text;
}

.hover-thin-scroll {
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
}

.hover-thin-scroll:hover {
	scrollbar-color: auto;
}

.hover-thin-scroll::-webkit-scrollbar {
	@apply hidden w-[3px];
}

.hover-thin-scroll:hover::-webkit-scrollbar {
	display: block;
}

.hidden-scrollbar {
	scrollbar-width: none;
	scrollbar-color: rgba(0, 0, 0, 0);
}

.hidden-scrollbar::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

.scroll-bar {
	scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
	scrollbar-width: thin;
	scroll-behavior: smooth;
	@apply relative overflow-x-auto overflow-y-hidden whitespace-nowrap;
}

.scroll-bar:hover {
	scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
}

.scroll-bar::-webkit-scrollbar {
	@apply h-[5px] w-[5px];
}

/* The grabbable scrollbar button  */
.scroll-bar:hover::-webkit-scrollbar-thumb {
	@apply rounded-[30px] bg-[rgba(0,0,0,0)];
}

.scroll-bar::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0);
	border-radius: 30px;
	cursor: pointer;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0);
}

/* The vertical scrollbar background */
.scroll-bar::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0);
}

.link {
	color: rgb(var(--link));
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

input[type='number'] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
